

<style>
.btn-local {
    display: flex;
    font-weight: normal;
    color: #007bff;
    text-decoration: none;
    background: none;
    font-size: 1.9rem;
    border: none;
}
.btn-local:hover {
    background: none;
    color: #0056b3;
    text-decoration: none;
}
.btn-local:focus {
    background: none;
    color: #0056b3;
    text-decoration: none;
    outline: none;
}
</style>

<button class="btn-local mt-3" onclick="window.history.back();">
    <i class='bx bx-chevron-left'></i>
</button>
